body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

/*--------------header---------------*/
/*---------------------------------*/

.header {
}

.header-container {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo span {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  margin-right: 76px;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

/*--------------h1---------------*/
/*---------------------------------*/

.section-title {
}

.hero-container {
  background-color: #2e2f42;
  padding: 188px 316px 0;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 100%;
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-button {
  display: flex;
  justify-content: center;
  padding-bottom: 185px;
}

.button-title-orderservice:hover,
.button-title-orderservice:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.button-title-orderservice {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  padding: 16px 32px;
}

/*----------ourbenefits------------*/
/*---------------------------*/

.section-ourbenefits {
  padding: 120px 0;
}

.title-ourbenefits {
  display: none;
}

.ourbenefits-list {
  display: flex;
  justify-content: center;
}

.ourbenefits-item {
}

.subtitle-ourbenefits {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.ourbenefits-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*-----------ourteam----------*/

.ourteam {
}

.ourteam-container {
  background-color: #f4f4fd;
  padding: 120px;
}

.ourteam-title {
  color: #2e2f42;
  text-align: center;
  white-space: nowrap;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto 72px;
  width: 100%;
  max-width: 162px;
}

.ourteam-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.ourteam-item {
  background-color: #ffffff;
}

.ourteam-img {
}
.ourteam-item-border {
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.ourteam-member {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}

.ourteam-profession {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/*--------ourportfolio--------*/

.ourportfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.ourportfolio-title {
  color: #2e2f42;
  text-align: center;
  white-space: nowrap;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  max-width: 218px;
  margin: 0 auto;
  padding-bottom: 72px;
}

.ourportfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.ourportfolio-item {
}

.ourportfolio-item-border {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
}

.ourportfolio-img {
}

.ourportfolio-subtitle {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}

.ourportfolio-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*-------------footer----------------*/

.footer {
}

.footer-container {
  background: #2e2f42;
  padding: 100px 600px 100px 141px;
}

.footer-logo-studio {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-container-text {
  width: 100%;
  max-width: 264px;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 16px;
}
